.chart-container {
  background-color: white;
  width: 60%;
  height: auto;
  border-radius: 0.25em;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  @media only screen and (max-width: 500px) {
    width: 100%;
  }
  canvas:hover {
    cursor: crosshair;
  }
}
