.App {
  display: flex;
  text-align: center;
  flex-direction: column;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-image: linear-gradient(rgb(14, 56, 119), rgb(43, 113, 177));
}
