.App {
  display: flex;
  text-align: center;
  flex-direction: column;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-image: linear-gradient(#0e3877, #2b71b1); }
